body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: orange;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color:grey;
}
